:root {
	--dark-color: #ff8882;
	--light-color: #ca0a00;
}
.NavTrigger {
	cursor: pointer;
}

.DarkGroup {
	fill: var(--dark-color);
}
.LightGroup {
	fill: var(--light-color);
}
.Dark3 {
	opacity: 0;
}
.Dark1,
.Dark3,
.Light1 {
	transition: all 0.7s ease;
}
.Dark3 {
	transform: translateX(-100%);
}
.NavTrigger:hover .Light1 {
	transform: translateX(20%);
}
.NavTrigger:hover .Dark1 {
	transform: translateX(40%);
	fill-opacity: 0;
}
.NavTrigger:hover .Dark3 {
	transform: translateX(0);
	opacity: 1;
}

@media only screen and (max-width: 600px) {
	.NavTrigger {
		margin-left: 10px;
	}
}
