.HomeCard {
	margin: 20px auto;
	width: 80%;
	min-height: 220px;
	border-radius: 5px;
	color: #eaebed;
	/* background-color: #163138; */
}

.CardBody {
	padding: 20px;
}

@media only screen and (max-width: 600px) {
	.HomeCard {
		min-height: 280px;
	}
}
