.Order {
	padding: 0 10px 0 10px;
	text-align: center;
	max-height: 100px;
	border-bottom: 3px dashed #50afc7;
}

.Order p {
	margin: 0;
}

.Image {
	object-fit: cover;
	padding-top: 5px;
	width: 60px;
	height: 80px;
}
